/* base Css script */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
    line-height: 1;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }

  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
.fiveForcast{
  background-color:rgb(61, 5, 217);
  border-style:solid;
  color:black;
}
/* .current{
  border-style: solid;
} */

.sBtn {


  background-color: rgb(87, 76, 185);
  color: white;
  align-content: left;
}

.sBtn i:hover {
  font-size: 20px;
  background-color: #61ffa5;
}
