/* base Css script */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
    line-height: 1;
  }
  
  .jumbotron {
    text-align: center;
    background-color: rgb(33, 16, 132);
    color: rgb(247, 246, 246);
    border-radius: 0;
    border-bottom: 10px solid black;
  }

  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
.fiveForcast{
  background-color:rgba(13, 16, 86, 0.789);
  border-style:solid;
  color:rgb(255, 255, 255);
  text-align: left;
   /* padding: 1em;  */
}
/* .current{
  border-style: solid;
} */

.sBtn {


  background-color: rgb(87, 76, 185);
  color: white;
  align-content: left;
  padding: 6px 5px;
  width: 75%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
}

.sBtn i:hover {
  font-size: 20px;
  background-color: #61ffa5;
}
